<h1>Accounts</h1>

<div ng-controller="accountsController">

    <table>
        <tr>
            <th>ID</th>
            <th>Amount</th>
        </tr>
        <tr ng-repeat="account in accounts">
            <td>{{ account.id }}</td>
            <td>{{ account.amount }}</td>
        </tr>
    </table>

    <h2>Add account</h2>
    <form ng-submit="submit()">
        <label>Amount:<input type="number" ng-model="editAccount.amount" name="amount"/></label>
        <input type="submit" id="submit" value="Add" />
    </form>

</div>