<h1>Accounts</h1>

<div>

    <table>
        <tr>
            <th>ID</th>
            <th>Amount</th>
        </tr>
        <tr ng-repeat="account in accounts">
            <td>{{ account.id }}</td>
            <td>{{ account.amount }}</td>
        </tr>
    </table>

    <h2>Add account</h2>
    <form ng-submit="addAccount()">
        <label>Amount:<input type="number" ng-model="editAccount.amount" name="amount"/></label>
        <input type="submit" id="addAccount" value="Add account" />
    </form>

    <h2>Transfer between your accounts</h2>
    <form ng-submit="transfer(newInternalTransaction)">
        <label>From account:
        <select ng-options="account.id for account in accounts"
                ng-model="newInternalTransaction.debitAccount"></select></label>

        <label>To account:
        <select ng-options="account.id for account in accounts"
                ng-model="newInternalTransaction.refillAccount"></select></label>

        <label>Amount:<input type="number" ng-model="newInternalTransaction.amount" name="amount"/></label>
        <label>Description:<input type="text" ng-model="newInternalTransaction.description" name="description"/></label>
        <input type="submit" id="intTransfer" value="Transfer" />
    </form>

    <h2>Transfer to another account</h2>
    <form ng-submit="transfer(newExternalTransaction)">
        <label>From account:
            <select ng-options="account.id for account in accounts"
                    ng-model="newExternalTransaction.debitAccount"></select></label>

        <label>To account:
            <input type="number" ng-model="newExternalTransaction.refillAccount.id"/></label>

        <label>Amount:<input type="number" ng-model="newExternalTransaction.amount" name="amount"/></label>
        <label>Description:<input type="text" ng-model="newExternalTransaction.description" name="description"/></label>
        <input type="submit" id="extTransfer" value="Transfer" />
    </form>

    <h2>Debit</h2>
    <form ng-submit="transfer(newDebitTransaction)">
        <label>From account:
            <select ng-options="account.id for account in accounts"
                    ng-model="newDebitTransaction.debitAccount"></select></label>

        <label>Amount:<input type="number" ng-model="newDebitTransaction.amount" name="amount"/></label>
        <label>Description:<input type="text" ng-model="newDebitTransaction.description" name="description"/></label>
        <input type="submit" id="debitTransfer" value="Debit" />
    </form>

    <h2>Refill</h2>
    <form ng-submit="transfer(newRefillTransaction)">
        <label>To account:
            <select ng-options="account.id for account in accounts"
                    ng-model="newRefillTransaction.refillAccount"></select></label>

        <label>Amount:<input type="number" ng-model="newRefillTransaction.amount" name="amount"/></label>
        <label>Description:<input type="text" ng-model="newRefillTransaction.description" name="description"/></label>
        <input type="submit" id="refillTransfer" value="Refill" />
    </form>

</div>